.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__mobile-hidden {
        display: none;
        height: 100px;
        // display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }

    &__phone-a {
        width: 60px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #6CAC3D;
        border: 1px solid #6CAC3D;
        box-sizing: border-box;
        border-radius: 3px;
    }

    &__phone_size {
        height: 20px;
        width: 20px;
    }

    &__messenger {
        display: none;

    }

    &__message-a {
        margin-right: 15px;
    }

    &__nav-hidden {
        height: 50px;
        display: none;


    }

    &__ul,
    &__ul-hidden {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__ul-hidden {
        border-top: 1px solid #6CAC3D;
    }

    &__li-hidden {
        margin-top: 14px;
    }

    &__li,
    &__a-hidden {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }


    &__li:not(:last-child) {
        margin-right: 24px;
    }

    .header-li__a,
    &__a-hidden {
        color: $color4;

        &:hover {
            color: #234875;
        }
    }

    &__tel {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: $color4;
    }

    &__time {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }

    &__button {
        width: 173px;
        height: 45px;
        display: block;
        border: 1px solid $color1;
        box-sizing: border-box;
        border-radius: 3px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $color1;
        text-align: center;
        padding-top: 10px;

        &:hover {
            background: #52971F;
            transition: 0.3s;
            color: white;
        }

    }
}