* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

h2 {
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: $color4;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

