.master {
    margin-top: 88px;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 31px;
    padding-bottom: 93px;

    &__arrow-left {
        left: 40px;
        bottom: 700px;
    }
    &__arrow-right{
        bottom: 700px;
    }

    &__h2 {
        margin-bottom: 32px;
    }

    &__video {
        height: 298px;
        width: 596px;
        background: linear-gradient(0deg, #555555, #555555), #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__descr {
        height: 298px;
        width: 495px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__ul{
        width: 337px;
    }

    &__li {
        font-size: 16px;
        line-height: 20px;
        color: $color4;
        list-style-type: disc;
    }
}