@media screen and (max-width:1270px) {
    .center-media {
        padding-left: 3%;
        padding-right: 3%;
    }

    .examples {
        &__left {
            flex-direction: column-reverse;
            width: 600px;

        }

        &__little {
            display: flex;
            justify-content: space-around;
            width: 600px;
        }

        &__general {
            width: 600px;

            &-img {
                width: 600px;
            }
        }

        &__slider {
            justify-content: center;
        }

        &__arrow-left {
            left: 15px;
        }

        &__arrow-right {
            right: 15px;
        }

        &__tab {
            width: 200px;
        }

    }
    .showroom{
        &__images{
            justify-content: space-around;
        }
        &__img{
            width: 500px;
        }
    }
}

@media screen and (max-width:1200px) {
    .center-media {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {

        &__menu {
            display: none;
        }

        &__messenger {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__nav-hidden {
            display: block;
        }
    }

    .promo {
        height: 1220px;
        flex-direction: column;
        background-position-x: -350px, center;

        &__h1 {
            font-size: 52px;
            line-height: 61px;
        }

        &__price {
            font-size: 30px;
        }
    }

    .calculation {
        width: 657px;
        margin: 0 auto;
        height: auto;

        &__block-1-2 {
            display: flex;
        }

        &__quantity {
            width: 240px;
            height: 59px;
            grid-template-columns: repeat(4, 1fr);
        }

        &__range {
            margin-top: 5px;

        }

        &__realty {
            border-bottom: none;
        }

        &__button {
            width: 248px;
        }

        .phone__input {
            width: 331px;
        }
    }

    .prices {
        &__main {
            padding-left: 3%;
        }

        &__h2 {
            margin-top: 0;
        }

        &__pagination {
            margin-top: 36px;
            display: flex;
            justify-content: center;
        }
    }

    .work {
        &__descr {
            width: 125px;
        }
    }

}

@media screen and (max-width:1130px) {
    .examples {
        height: 750px;

        &__h2 {
            margin-bottom: 30px;
        }

        &__descr {
            width: 350px;
            padding-left: 35px;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        &__tabs {
            justify-content: center;
        }

        &__tab {
            width: 150px;

        }

        &__tab:not(:last-child) {
            margin-right: 22px;
        }

        &__left,
        &__little,
        &__general,
        &__general-img {
            width: 500px;
        }
    }
}

@media screen and (max-width:1130px){
    .showroom{
        &__img{
            width: 400px;
        }
    }
}

@media screen and (max-width:1060px) {

    .work__main,
    .work__line {
        display: none;
    }

    .work-media {
        display: flex;
        height: 460px;
    }

    .work {
        padding-bottom: 30px;
    }
}

@media screen and (max-width:1024px) {
    .promotions {
        &__h2 {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width:970px) {
    .examples {
        height: 680px;
        padding-top: 25px;

        &__h2 {
            margin-bottom: 20px;
            font-size: 36px;
        }

        &__tabs {
            margin-bottom: 20px;
        }

        &__tab {
            font-size: 15px;
            width: 120px;
        }

        &__general {
            height: 220px;
        }

        &__slider-element {
            background: white;
            padding: 10px;
        }

        &__left,
        &__little,
        &__general,
        &__general-img {
            width: 350px;
        }

        &__left {
            height: 300px;
        }

        .ul__right {
            margin-left: 0;
        }

        .photo__little {
            width: 66px;
        }
    }
}

@media screen and (max-width:860px){
.showroom{
    &__img{
        width: 350px;
    }
}
}

@media screen and (max-width:840px) {
    .examples {
        &__left {
            height: 335px;
        }

        &__little {
            margin-top: 40px;

        }

        .photo__little_hidden {
            display: none;
        }

        &__general-img {
            height: 246px;
        }

        &__left,
        &__little,
        &__general,
        &__general-img {
            width: 282px;
        }
    }
}

@media screen and (max-width:768px) {
    .center-media {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {
        &__tel {
            font-size: 15px;
            line-height: 18px;
        }

        &__time {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .nav {
        &__li {
            width: 80px;

            &_width {
                width: 100px;
            }
        }

        .img__arrow {
            margin-bottom: 10px;
            margin-left: 2px;
        }

        .nav-li__a {
            font-size: 14px;
            line-height: 16px
        }
    }

    .promo {
        background-position-x: -350px, -610px;
    }

    .examples {
        height: 925px;

        &__slider-element {
            width: 390px;
            flex-direction: column;
        }

        &__left {
            flex-direction: row;
            height: 245px;
        }

        &__little {
            flex-direction: column;
            height: 215px;
            margin-top: 0;
        }

        &__radio:not(:last-child) {
            margin-right: 15px;
        }

        &__label {
            margin-left: 5px;
        }

        &__tab:not(:last-child) {
            margin-right: 5px;
        }

        &__tab {
            font-size: 14px;
            width: 110px;
        }
    }

    .promotions {
        &__slider {
            grid-template-columns: repeat(3, 248px);
        }

        &__promotion,
        &__img {
            width: 248px;
            height: 319px;
        }

        &__back {
            width: 248px;
        }

        &__h4 {
            font-size: 28px;
            line-height: 32px;
        }

        &__p {
            font-size: 14px;
            margin-left: 0;
            width: 200px;
        }

        &__descr {
            left: 25px;
        }

    }
    .showroom{
        &__img{
            width: 310px;
            height: 288px;
        }
        &__pic{
            // width: 30px;
            // height: 30px;
        }
        &__h2{
            font-size: 36px;
            line-height: 40px;
        }
    }

}

@media screen and (max-width:700px) {
    .promo {
        height: 1390px;
    }

    .calculation {
        width: 500px;

        &__block-1-2 {
            display: block;
        }

        &__type {
            width: 400px;
        }

        &__realty {
            border-bottom: 2px solid #D6D6D6;
            width: 400px;
        }

        &__quantity {
            width: 400px;
            grid-template-columns: repeat(4, 0.15fr);
        }

        &__h5 {
            // margin-left: 0px;
        }

        &__total {
            width: 400px;
            margin-left: 55px;
        }

        &__phone {
            flex-direction: column;
        }

        &__button {
            margin-top: 10px;
            width: 400px;
        }

        .phone__input {
            width: 400px;
            margin-right: 0;
        }
    }

}

@media screen and (max-width:670px){
.showroom{
    &__img{
        width: 250px;
        height: 200px;
    }
    &__main{
        flex-direction: column;
        align-items:start;
        height: 350px;
    }
    &__block{
        display: flex;
        max-width: none;
       width: auto;
        justify-content: space-around;
    }
    &__pic{
        width: 30px;
        height: 30px;
    }
    &__p{
        margin-left: 10px;
    }
}
}

@media screen and (max-width:630px) {
    .header {
        display: none;

        &__mobile-hidden {
            display: flex;
        }

        &__nav-hidden {
            display: none;
        }
    }

    .nav {
        display: none;
    }

    .promo {
        margin-top: 0;
    }
}

@media screen and (max-width:540px) {
    .examples {
        height: 1050px;

        &__h2 {
            line-height: 35px;
        }

        &__tabs {
            flex-wrap: wrap;
        }

        &__tab {
            margin-top: 5px;
        }

        &__inputs {
            flex-wrap: wrap;
        }

        &__radio {
            margin-top: 5px;
        }

        &__arrow-right,
        &__arrow-left {
            top: 265px;
        }
    }
    .showroom{
        &__img{
            width: 186px;
            height: 174px;
        }
    }
}

@media screen and (max-width:520px) {
    .promo {
        &__conditions {
            width: 400px;
        }

        &__h1 {
            font-size: 34px;
            line-height: 40px;
        }
    }

    .calculation {
        width: 410px;

        &__type,
        &__realty,
        &__quantity,
        &__button,
        .phone__input {
            width: 325px;
        }

        &__total {
            margin-left: 0;
        }
    }
}

@media screen and (max-width:500px) {
    .work-media {
        flex-direction: column;
        align-items: center;
        height: 850px;
        padding-bottom: 15px;

        &__descr {
            width: 110px;
        }

    }

    .work {
        &__h2 {
            font-size: 36px;
        }
        &__p{
            font-size: 16px;
        }
    }
}

@media screen and (max-width:425px) {
    h2 {
        font-size: 36px;
    }

    .header {
        &__phone-a {
            width: 50px;
            height: 33px;
        }
    }

    .promo {
        background-position-x: -450px, -950px;

        &__h1 {
            font-size: 30px;
        }

        &__price {
            font-size: 25px;
        }

        &__span {
            font-size: 42px;
        }

        &__conditions {
            width: 350px;
        }

        &__p {
            font-size: 15px;
            line-height: 19px;
        }

        &__img {
            width: 50px;
            height: 50px;
        }
    }

    .calculation {
        width: 350px;

        &__type,
        &__realty,
        &__quantity,
        &__button,
        .phone__input {
            width: 270px;
        }

        &__total {
            width: auto;
        }
    }

    .promotions {
        &__h2 {
            font-size: 36px;
        }
    }

}

@media screen and (max-width:375px) {
    .promo {
        height: 1270px;
        background-position-x: -500px, -1000px;

        &__h1 {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 18px;
        }

        &__price {
            font-size: 20px;
        }

        &__span {
            font-size: 35px;
        }

        &__img {
            height: 40px;
            width: 40px;
        }

        &__p {
            font-size: 13px;
            line-height: 17px;

        }

        &__conditions {
            width: 300px;
        }
    }

    .calculation {
        width: 300px;

        &__h2 {
            font-size: 16px;
            margin-left: 20px;
        }

        &__h5 {
            margin-left: 26px;
            margin-top: 20px;
        }

        &__type,
        &__realty,
        &__quantity,
        &__button,
        .phone__input {
            width: 250px;
            margin: 0 auto;
        }

        .calculation__label,
        .realty__label,
        .quantity__label {
            font-size: 12px;
            line-height: 10px;
            margin-left: 6px;
        }

        &__quantity {
            height: 40px;
        }

        .phone__input {
            margin-bottom: 10px;
        }

    }

    .prices {
        h2 {
            margin-bottom: 12px;
            font-size: 30px;
        }
    }

    .examples {
        &__slider-element {
            width: 300px;
        }

        &__general &__general-img {
            width: 200px;
            height: 210px;
        }

        &__left {
            height: 210px;
        }

        &__arrow-left,
        &__arrow-right {
            top: 223px;
        }

        &__arrow-right {
            right: 5px;
        }

        &__arrow-left {
            left: 5px;
        }

        &__descr {
            padding-left: 20px;
        }
    }
    .showroom{
        &__images{
            flex-direction: column;
            align-items: center;
        }
        &__img{
            margin-top: 10px;
            width: 300px;
            height: 290px;
        }
    }

}