* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 91px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2.5fr 1fr 1fr;
      grid-template-columns: 0.5fr 2.5fr 1fr 1fr;
  grid-column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__li {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header__li:not(:last-child) {
  margin-right: 24px;
}

.header .header-li__a {
  color: #171616;
}

.header .header-li__a:hover {
  color: #234875;
}

.header__tel {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #171616;
}

.header__time {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header__button {
  width: 173px;
  height: 45px;
  display: block;
  border: 1px solid #6CAC3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6CAC3D;
  text-align: center;
  padding-top: 10px;
}

.header__button:hover {
  color: #82C054;
  border: 1px solid #82C054;
}

.nav {
  height: 66px;
}

.nav__ul {
  border-top: 1px solid #6CAC3D;
  border-bottom: 1px solid #6CAC3D;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-li__a {
  color: #171616;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.nav .nav-li__a:hover {
  color: #234875;
}

.promo {
  height: 720px;
  background-image: url(/img/promo/background.png), url(img/promo/background-main.png);
  background-repeat: no-repeat;
  background-position-x: 0px, center;
  padding-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
}

.promo__h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 31px;
}

.promo__price {
  font-weight: bold;
  font-size: 44px;
  line-height: 45px;
  color: #000000;
}

.promo__span {
  color: white;
  background: #6CAC3D;
  border-radius: 10px;
  padding: 5px;
  font-size: 52px;
}

.promo__p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  min-width: 153px;
  max-width: 211px;
}

.promo__conditions {
  margin-top: 64px;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.calculation {
  position: relative;
  top: -63px;
  width: 461px;
  height: 695px;
  background: #FFFFFF;
  border-radius: 7px;
  padding-top: 38px;
}

.calculation__h2 {
  margin-left: 55px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #171616;
  text-transform: uppercase;
}

.calculation__h5 {
  margin-left: 55px;
}

.calculation__form {
  margin-top: 28px;
}

.calculation__type, .calculation__realty, .calculation__quantity {
  border-bottom: 2px solid #D6D6D6;
  padding-bottom: 19px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 18px;
  margin-left: 55px;
}

.calculation__quantity {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.15fr)[4];
      grid-template-columns: repeat(4, 0.15fr);
}

.calculation__h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #595959;
  margin-bottom: 20px;
}

.calculation .calculation__label,
.calculation .realty__label,
.calculation .quantity__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
  color: #595959;
}

.calculation__total {
  height: 76px;
  margin-top: 24px;
  padding-top: 17px;
  background: #F2F2F2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-auto-rows: minmax(auto, auto);
  margin-bottom: 19px;
}

.calculation__range {
  margin-left: 55px;
}

.calculation .total__period,
.calculation .total__discount {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2D4872;
}

.calculation .total__span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.calculation__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculation .phone__input {
  width: 203px;
  height: 40px;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 13px;
  margin-right: 15px;
}

.calculation .phone__input:focus {
  outline: none;
}

.calculation__button {
  width: 133px;
  height: 48px;
  background: #6CAC3D;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.calculation__button:hover {
  background: #52971F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prices__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.prices__h2 {
  margin-top: 73px;
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
}

.prices__ul {
  height: 15px;
}

.prices__block {
  width: 284px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 10px #F3F3F3;
          box-shadow: 0 0 10px #F3F3F3;
}

.prices__header {
  border-radius: 16px 16px 0px 0px;
  background: #E3EAEF;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices__img {
  margin-right: 4px;
}

.prices__h4 {
  color: #6CAC3D;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.prices__p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #171616;
}

.prices__descr {
  height: 143px;
  border-bottom: 2px solid #2D4872;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #171616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices__text {
  width: 239px;
}

.prices__list {
  padding-left: 25px;
}

.prices__h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #171616;
  margin-top: 15px;
  margin-bottom: 9px;
}

.prices__li:before {
  content: url(img/prices/prices-li.png);
  margin-right: 6px;
}

.prices__li {
  margin-left: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #171616;
}

.prices__a {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2D4872;
  margin-bottom: 10px;
}

.prices__a:hover {
  color: #0048BA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prices__crossed {
  font-size: 14px;
  line-height: 16px;
  text-decoration: line-through;
}

.prices__price {
  margin-top: 30px;
  text-align: center;
}

.prices__price_color {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #6CAC3D;
}

.prices__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #6CAC3D;
  border-radius: 4px;
  height: 48px;
  width: 188px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 48px;
  margin-top: 20px;
  margin-bottom: 31px;
}

.prices__button:hover {
  background: #52971F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.examples {
  background: #F8F8F8;
  height: 850px;
  padding-top: 56px;
}

.examples__h2 {
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #171616;
  margin-bottom: 70px;
  text-align: center;
}

.examples__main {
  position: relative;
  margin-top: 32px;
}

.examples__arrow-left {
  position: absolute;
  left: -30px;
  top: 170px;
  cursor: pointer;
}

.examples__arrow-right {
  position: absolute;
  top: 170px;
  right: -30px;
  cursor: pointer;
}

.examples__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 38px;
}

.examples__tab {
  width: 236px;
  height: 48px;
  background: #E6E6E6;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.examples__tab:hover {
  background: #749bda;
  color: #FFFFFF;
}

.examples__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.examples__input:focus ~ label,
.examples label:focus {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #171616;
}

.examples__radio:not(:last-child) {
  margin-right: 30px;
}

.examples__label {
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #595959;
}

.examples__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples__little {
  width: 82px;
  margin-right: 20px;
}

.examples .photo__little {
  cursor: pointer;
}

.examples__descr {
  padding-top: 56px;
  padding-left: 60px;
  width: 386px;
  background: white;
}

.examples__span-1 {
  font-size: 16px;
  line-height: 19px;
  color: #595959;
  margin-left: 5px;
}

.examples__span-2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #171616;
}

.examples__left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples__list {
  list-style-type: disc;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #171616;
}

.examples__button {
  height: 48px;
  width: 205px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #6CAC3D;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 31px;
  margin-left: 485px;
}

.examples__button:hover {
  background: #52971F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab__active {
  background: #2D4872;
  color: #FFFFFF;
}

.ul__right {
  margin-left: 56px;
}

.li__right {
  margin-bottom: 8px;
}

.li__left {
  margin-bottom: 6px;
}

.list__ul {
  margin-left: 40px;
}
/*# sourceMappingURL=style.css.map */