* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.header {
  height: 91px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2.5fr 1fr 1fr;
      grid-template-columns: 0.5fr 2.5fr 1fr 1fr;
  grid-column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__li {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header__li:not(:last-child) {
  margin-right: 24px;
}

.header .header-li__a {
  color: #171616;
}

.header .header-li__a:hover {
  color: #234875;
}

.header__tel {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #171616;
}

.header__time {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header__button {
  width: 173px;
  height: 45px;
  display: block;
  border: 1px solid #6CAC3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6CAC3D;
  text-align: center;
  padding-top: 10px;
}

.header__button:hover {
  color: #82C054;
  border: 1px solid #82C054;
}

.nav {
  height: 66px;
}

.nav__ul {
  border-top: 1px solid #6CAC3D;
  border-bottom: 1px solid #6CAC3D;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-li__a {
  color: #171616;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.nav .nav-li__a:hover {
  color: #234875;
}

.promo {
  height: 720px;
  background-image: url(/img/promo/background.png), url(img/promo/background-main.png);
  background-repeat: no-repeat;
  background-position-x: 0px, center;
  padding-top: 63px;
}

.promo__h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 31px;
}

.promo__price {
  font-weight: bold;
  font-size: 44px;
  line-height: 45px;
  color: #000000;
}

.promo__span {
  color: white;
  background: #6CAC3D;
  border-radius: 10px;
  padding: 5px;
  font-size: 52px;
}

.promo__p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  min-width: 153px;
  max-width: 211px;
}

.promo__conditions {
  margin-top: 64px;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.calculation {
  width: 461px;
  height: 695px;
  background: #FFFFFF;
  border-radius: 7px;
  padding-top: 38px;
}

.calculation__h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #171616;
  text-transform: uppercase;
}

.calculation__h5 {
  margin-left: 55px;
}

.calculation__form {
  margin-top: 28px;
}

.calculation__type, .calculation__realty, .calculation__quantity {
  border-bottom: 2px solid #D6D6D6;
  padding-bottom: 19px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 18px;
  margin-left: 55px;
}

.calculation__quantity {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.15fr)[4];
      grid-template-columns: repeat(4, 0.15fr);
}

.calculation__h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #595959;
  margin-bottom: 20px;
}

.calculation .calculation__label,
.calculation .realty__label,
.calculation .quantity__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
  color: #595959;
}

.calculation__total {
  height: 76px;
  margin-top: 24px;
  padding-top: 17px;
  background: #F2F2F2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-auto-rows: minmax(auto, auto);
  margin-bottom: 19px;
}

.calculation__range {
  margin-left: 55px;
}

.calculation .total__period,
.calculation .total__discount {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2D4872;
}

.calculation .total__span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.calculation__phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.calculation .phone__input {
  width: 203px;
  height: 40px;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 13px;
}

.calculation .phone__input:focus {
  outline: none;
}

.calculation__button {
  width: 133px;
  height: 48px;
  background: #6CAC3D;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.calculation__button:hover {
  background: #52971F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */